<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Log in</a></li>
            <li><a href="/logout">Log out</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/welcome">Welcome</a></li>
            <li><a href="/users/posts/new">Create a post</a></li>
        </ul>
    </nav>

    <article>
        <p>Login Form</p>
        <form action="/auth/login" method="POST">
            <div>
                <label for="email-lgn">Name</label>
                <input id="email-lgn" type="text" name="email">
            </div>

            <div>
                <label for="password-lgn">Password</label>
                <input id="password-lgn" type="password" name="password">
            </div>

            <button type="submit">Submit</button>
        </form>
        <section>
            {{#if message }}
            <p>{{message}}</p>
            {{/if}}
        </section>
    </article>
</body>

</html>